<!DOCTYPE html>
<html lang="en">
<head>

  <title> {% block title %} Kizuna Project{% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}

  {% load logic_menu %}

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="col-sm-2">
  <h3> Меню 1 </h3>
  <ol class="list-group list-group-flush">
  {% draw_menu 'main' %}
  </ol>
</div>

<div class="col-sm-2">
    <h3> Меню 2 </h3>
  <ol class="list-group list-group-flush">
  {% draw_menu 'Test1' %}
  </ol>
</div>

</body>
</html>
